<h1>Model ready..</h1>
<h2>Choose test dataset to make predictions..</h2>

<form class="" action="predictions" method="post">
    <input type="file" name="test_data" value=""> <br> <br>
    <input type="submit" name="" value="Predict">
</form>
