<h2>Choose training dataset to train model..</h2>
<form class="" action="predict" method="post">
    <input type="file" name="train_data" value=""> <br> <br>
    <input type="submit" name="" value="Submit">
</form>
